root = true

[*.{cs,json,xml}]
end_of_line              = lf
charset                  = utf-8-bom
indent_style             = space
indent_size              = 4
trim_trailing_whitespace = true

[*.cs]
# Use collection initializers or expressions (IDE0028)
dotnet_diagnostic.IDE0028.severity = none

# Use range operator (IDE0057)
dotnet_diagnostic.IDE0057.severity = none

# Use simple 'using' statement (IDE0063)
dotnet_diagnostic.IDE0063.severity = none

# Use primary constructor (IDE0290)
dotnet_diagnostic.IDE0290.severity = none

# Use collection expression for fluent (IDE0305)
dotnet_diagnostic.IDE0305.severity = none

# IDE1006 Code-style naming rules
dotnet_diagnostic.IDE1006.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

# CA1508: 'response.Code != 250' is always 'true'. Remove or refactor the condition(s) to avoid dead code.
dotnet_diagnostic.CA1508.severity = none

# CA1707: Remove the underscores from member name Jannesen.Protocol.SMTP.SMTPConnection.EHLO_HELO_Async(string, System.Threading.CancellationToken)
dotnet_diagnostic.CA1707.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# CA1849: 'Task<TResult>.Result' synchronously blocks. Use await instead.
dotnet_diagnostic.CA1849.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none
